repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files # prevents adding large files
  - id: check-merge-conflict # prevents merge conflicts
  - id: detect-private-key # detects private keys
  - id: fix-byte-order-marker # fixes BOM
  - id: fix-encoding-pragma # fixes encoding pragma
  - id: no-commit-to-branch # prevents committing to protected branches
  - id: trailing-whitespace # prevents trailing whitespace

- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 26.1.0
  hooks:
  - id: black
    language_version: python3.10
    exclude: 'pipelines\/\{\{cookiecutter\.project_name\}\}.*'

- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
  - id: isort
    args: ["--profile=black"]

- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
